<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tiny App</title>
  </head>
  <body>
    <%- include ./partials/_header %>
    <h2>Different URLs</h2>
    <ul>
      <% for (let url in urls) { %>
      <li>
        <form method="POST" action="/urls/<%= url %>/delete">
          <%= urls[url] %> : <%= url %>
          <a href="/urls/<%= url %>">Edit</a>
          <button type="submit" name="deleter" value="<%= url %>">Delete</button>
        </form>
      </li>
      <% } %>
    </ul>
    <a href="/urls/new">Add a URL</a>
    <a href=#>Click Here to Access the Shortener</a>
  </body>
</html>