<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tiny App</title>
</head>
<body>
  <h1><% include ./partials/_header %></h1>
  <h3>short URL: <%= shortURL %></h3>
  <h3>long URL: <%= longURL %></h3>
  <form method="POST" action="/urls/<%= shortURL %>/update">
    <input type="text" name="longURL" placeholder="<%= longURL %>" style="width: 300px">
    <input type="hidden" name="shortURL" value="<%= shortURL %>">
    <input type="submit" value="Update">
  </form>
</body>
</html>