<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tiny App</title>
  </head>
  <body>
    <%- include ./partials/_header %>
    <h2>Different URLs</h2>
    <ul>
      <% for (let shortUrl in Db) { %>
      <li>
        <form method="POST" action="/urls/<%= shortUrl %>/delete">
          <%= Db[shortUrl].url %> : <%= shortUrl %>
          <a href="/urls/<%= shortUrl %>">Edit</a>
          <button type="submit" name="deleter" value="<%= shortUrl %>">Delete</button>
        </form>
      </li>
      <% } %>
    </ul>
    <a href="/urls/new">Add a URL</a>
    <a href=#>Click Here to Access the Shortener</a>
  </body>
</html>